{% extends "InstaspotsSpotsBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Latest spots</h2>

  <ul>
    {% for picture in listPictures %}

      <div class="panel panel-default">
        <div class="panel-heading"><a href="{{ path('instaspots_spots_view', {'id': picture.spot.id}) }}">
          {{ picture.spot.name }}
        </a> by {{ picture.user.username }}, the {{ picture.created|date('d/m/Y') }}</div>
        <div class="panel-body">
          <img src="{{ picture.getUrl }}" alt="{{ picture.spot.name }}" style="width:640px;height:640px;">
        </div>
      </div>

    {% else %}
      <li>No spots found</li>
    {% endfor %}
  </ul>

{% endblock %}
