{% extends "InstaspotsSpotsBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Latest spots</h2>

  <ul>
    {% for picture in listPictures %}
      <li>
        <a href="{{ path('instaspots_spots_view', {'id': picture.id}) }}">
          {{ picture.spot.name }}
        </a>
        par {{ picture.user.username }},
        le {{ picture.created|date('d/m/Y') }}
      </li>
    {% else %}
      <li>No spots found</li>
    {% endfor %}
  </ul>

{% endblock %}
